{% extends "base.html" %}

{% block head %}


{% endblock %}
{% block body %}

    <div class="row">
        {% for Album in Albums.all %}
            <div class="col-md-3 col-sm-6">
                <div class="">
                    <a href="{% url 'AlbumsSongs' Album.album_title %}"><img style=" height: 200px" alt="" src="{{ Album.album_image.url }}"
                                                                             class="img-thumbnail rounded-circle"></a>
                    <div class="card-body text-center   ">
                        <h6 style="color: black; font-weight: bolder;">Album Name
                            : {{ Album.album_title }}</h6>
                        <hr  style="background-color:rgb(253, 61, 80); color:rgb(253, 61, 80); ">
                        <h6 class="card-text" style="color:black;font-weight: bolder;">Artist Name
                            : {{ Album.artist }} </h6>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}